/*-----------------------------------------------------------------------------*/

@import url('./../node_modules/bootstrap/dist/css/bootstrap.min.css');

/*-----------------------------------------------------------------------------*/

.txt-right {
    text-align: right;
}

/*-----------------------------------------------------------------------------*/

.txt-lgx {
    font-size: x-large;
}

.txt-lg {
    font-size: large;
}

.txt-md {
    font-size: medium;
}

.txt-sm {
    font-size: small;
}

/*-----------------------------------------------------------------------------*/